h1 {
    font-size: 2.0rem;
    font-weight: 600;
    padding: 2rem 1rem;
    font-family: 'Merienda', cursive;
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 2rem 1rem;
    font-family: 'Merienda', cursive;
}

.intro-img-fade {
    background-color: black;
    position: relative;
}

.intro-cover-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
}

.intro-cover-text {
    position: absolute;
    bottom: 0%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem 0.5rem;
    width: 100%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    font-size: 1.1rem;
    backdrop-filter: blur(3px);
}

.about-us {
    background-color: #f3f3f3;
}

.history {
    background-color: #efe9e2;
}

.home-text {
    margin: 0 1rem 1rem;
    line-height: 1.3;
    letter-spacing: 0.07rem;
}

img {
    display: block;
}

.best-sellers-home {
    padding: 1rem 1rem 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 576px) {

    h2 {
        font-size: 1.5rem;
    }

    .history-img {
        border-radius: 1rem;
        margin: 1rem auto;
        width: 70%;
        max-width: 650px;
    }

    .max-width-history {
        padding-bottom: 0.5rem;
    }

}

@media (min-width: 768px) {

    .intro-cover-text {
        font-size: 1.3rem;
    }

    .max-width-about,
    .max-width-history {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
    }

    .max-width-about {
        flex-direction: row-reverse;
    }

    .intro-img {
    width: 100%;
    height: 400px;
    object-fit: contain;

    }

    .home-text {
        margin: 0 0 1rem 0;
    }

    .history-img {
        width: 50%;
        margin: 0 auto;
    }

}

@media (min-width: 992px) {

    .intro-cover-img {
        height: 330px;
    }

    .about-us {
        gap: 2rem;
    }

    .max-width-about,
    .max-width-history {
        padding: 3rem 2rem;
        gap: 2rem;
    }
}

.carousel {
    background-color: #9B445C;
    width: 100%;
    height: 400px;
}

.carousel-item {
    height: 400px;
}